.app-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.main-content {
  display: flex;
  flex: 1;
  padding: 20px;
  gap: 20px;
  max-width: 100%;  /* DEBE SER 100% */
  margin: 0;        /* DEBE SER 0 */
  width: 100%;
}


/* Responsivo para móviles */
@media (max-width: 768px) {
  .main-content {
    flex-direction: column;
  }
}
/* index.css o CSS global */
body, #root {
  margin: 0;
  padding: 0;
  width: 100%;
  min-height: 100vh;
}
.columnaderecha{  
  flex: 1;
  display: flex;
  flex-direction: column;
}

.columnaizquierda {
  flex: 1;
  display: flex;
  flex-direction: column;
}
.right-column {
  flex: 2; 
}

.tema-claro {
    background-color: #ffffff;
    color: #333333;
    transition: all 0.3s;
    min-height: 100vh; 
}

.tema-oscuro {
    background-color: #282c34;
    color: #f0f0f0;
    transition: all 0.3s;
}

.tema-oscuro .panel {
    background-color: #3c414a;
    border: 1px solid #666;
}

.tema-claro .panel {
    background-color: #f0f0f0;
        color: #333333;

    border: 1px solid #ccc;
}